/* NOTE: the top three `@tailwind` need to stay and will unlink all the tailwindcss. `bg-colors` and `text-highlight-colors` are used throughout the project. if you delete them many elements will lose their colors */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #ddd;
  --highlight-text-color: #baa294;
  --main-bg-color: #171717;
  --hover-text-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--highlight-text-color);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color);
}

body {
  color: var(--main-text-color);
  opacity: 0.96;
  background-image: radial-gradient(#baa29435 1px, transparent 1px);
  background-size: 30px 30px;
}
#home-carousel {
  scrollbar-color: #000;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.bg-colors {
  background-color: var(--main-bg-color);
}

.text-highlight-colors {
  color: var(--highlight-text-color);
}
